fastapi==0.110.3
uvicorn==0.29.0
SQLAlchemy==2.0.29
asyncpg==0.29.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
pydantic==1.10.15
python-multipart==0.0.9
google-api-python-client==2.131.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
gspread==6.1.3
